.titulo{
    background-color: #5492cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    
}
/* Estilo para la tabla */
.tabla {
    border-collapse: collapse;
    width: 40%;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
    background-color: #b7c1ee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tabla_inv {
    border-collapse: collapse;
    width: 40%; /* La tabla ocupará el 100% del ancho disponible */
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
    background-color: #b7c1ee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
}

.cont {
    text-align: center;
}

.tabla_inv th, .tabla_inv td{
    border: 1px solid #ddd;
    padding: 10px 10px;
    text-align: left;
}

.tabla th, .tabla td{
    border: 1px solid #ddd;
    padding: 10px 10px;
    text-align: left;
}

.tabla th, .tabla_inv th {
    background-color: #5492cc;
    color: white;
    font-weight: bold;
}

.tabla td, .tabla_inv td {
    color: #000000;
}

.tabla tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla tbody tr:hover {
    background-color: #ddd;
}

.tabla th, table.tabla td {
    border-radius: 5px;
}

/* Ajuste responsivo */
@media (max-width: 768px) {
    .tabla {
        width: 70%; /* Ajuste para pantallas pequeñas */
    }
}

.tabla_inv tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla_inv tbody tr:hover {
    background-color: #ddd;
}

.tabla_inv th, table.tabla_inv td {
    border-radius: 5px;
}

/* Ajuste responsivo */
@media (max-width: 768px) {
    table.tabla_inv {
        width: 100%;
    }
    table.tabla_inv th, table.tabla_inv td {
        padding: 8px 10px;
    }
}

a {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.regresar {
    background-color: #80b3e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px; 
    margin-bottom: 10px; 
    display: inline-block; 
    margin-left: 20px;
}
/* Hover para el botón de regresar */
.regresar:hover {
    background-color: #417fb3;
}